td.tinfo {
  font-family: Calibri,Arial;
  font-size: 15pt;
  font-weight: bold;
  text-align: right;
  background-color:#e8ffe8;
  width:270px;
  opacity:0.8;
}

td.tdata {
  font-family: Calibri,Arial;
  font-size: 15pt;
  font-weight: normal;
  text-align: left;
  background-color:#e8e8ff;
  width:270px;
  opacity:0.8;
}

div.special_msg {
  font-family: Calibri,Arial;
  font-size: 15pt;
  font-weight: bold;
  text-align: center;
}